/* reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
    --colot-primary: rgb(33, 170, 88);
    --color-white: #fff;
    --color-text: #3f3f3f;
    --color-border: #e5e5e5;
}

html {
    font-size: 62.5%;
}
body {
    list-style-type: none;
    font-size: 1.2rem;
}
h2 {
    font-size: 2.2rem;
    font-weight: bolder;
}
p {
    font-size: 1.4rem;
    display: flex;
    padding: 1rem 0;
}
@media screen and (min-width: 768px) {
    p {
        font-size: 1.5rem;
    }
    h2{
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 1024px) {
    p {
        font-size: 1.9rem;
    }
    h2{
        font-size: 2.8rem;
    }
}
/* modifire */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.block {
    padding: 2rem 3rem;
}
@media screen and (min-width: 768px) {
    .block {
        padding: 2rem 5rem;
    }
}
/* Btn */
.btn {
    outline: 0;
    background-color: var(--color-white);
    color: var(--color-text);
    border: 0;
    padding: 1rem 0;
    margin: 1.5rem 0;
    border-radius: 5px;
}
.btn--primary {
    color: var(--colot-primary);
}
.btn--block {
    display: block;
    width: 100%;
}
/* Header */
header{
    width: 100%;
}
/* -Banner */
.banner {
    display: none;
    background-color: var(--colot-primary);
}
.banner picture {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    display: none;
}
.bar{
    width: 22px;
    height: 3px;
    margin: 0.5rem 0;
    background-color: var(--color-text);
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
        gap: 2.5rem;
        align-items: center;
    }
    .nav__toggler{
        display: none;
    }
    .menu__icon img {
        display: flex;
        align-items: center;
    }
    .banner {
        display: block;
    }
}

/* Hero */
.hero {
    background-color: var(--colot-primary);
    color: var(--color-white);
}
.hero__btn {
    margin-top: 2.5rem;
}
.hero__image {
    transform: scaleX(-1);
    display: none;
}
@media screen and (min-width:768px) {
    .hero__btn :not(:last-child) {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    
    .hero {
        display: flex;
    }
    .hero.block {
        margin: 0;
        padding: 0;
    }
    .hero__image {
        display: flex;
        width: 75%;
    }
    .hero__btn{
        display: none;
    }
    .hero__image img{
        width: 100%;
    }
    .hero__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}