/* reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
    --colot-primary: rgb(33, 170, 88);
    --color-primary-light:rgb(0, 209, 112);
    --color-white: #fff;
    --color-text: #3f3f3f;
    --color-border: #e5e5e5;
    --color-light-blue: #f2f5f8;
}

html {
    font-size: 62.5%;
}
body {
    list-style-type: none;
    font-size: 1.5rem;
}
a {
    color: var(--color-text);
}
h1 {
    font-size: 3rem;
    line-height: 1.5;
}
h2 {
    font-size: 2.2rem;
    font-weight: bolder;
}
h4 {
    font-size: 1.6rem;
}
p {
    font-size: 1.4rem;
    display: flex;
    padding: 1rem 0;
}
@media screen and (min-width: 768px) {
    p {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 3.2rem;
    }
    h2{
        font-size: 2.4rem;
    }
    h4 {
        font-size: 1.8rem;
    }   
}
@media screen and (min-width: 1024px) {
    p {
        font-size: 1.8rem;
    }
    h2{
        font-size: 2.8rem;
    }
    h4 {
        font-size: 2rem;
    }
}
/* modifire */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.block {
    padding: 2rem 3rem;
}
@media screen and (min-width: 768px) {
    .block {
        padding: 2rem 5rem;
    }
}
/* Btn */
.btn {
    outline: 0;
    border: 0;
    background-color: var(--color-white);
    color: var(--color-text);
    padding: 1rem 2.5rem;
    margin: 1.5rem 0;
    border-radius: 5px;
}
.btn--primary {
    color: var(--colot-primary);
}
.btn--block {
    display: block;
    width: 100%;
}
/* Header */
header{
    width: 100%;
}
/* -Banner */
.banner {
    display: none;
    background-color: var(--colot-primary);
}
.banner picture {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    display: none;
}
.bar{
    width: 22px;
    height: 3px;
    margin: 0.5rem 0;
    background-color: var(--color-text);
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
        gap: 2.5rem;
        align-items: center;
    }
    .nav__toggler{
        display: none;
    }
    .menu__icon img {
        display: flex;
        align-items: center;
    }
    .banner {
        display: block;
    }
}

/* Hero */
.hero {
    background-color: var(--colot-primary);
    color: var(--color-white);
}
.hero__btn {
    margin-top: 2.5rem;
}
.hero__image {
    transform: scaleX(-1);
    display: none;
}
@media screen and (min-width:768px) {
    .hero__btn :not(:last-child) {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    
    .hero {
        display: flex;
    }
    .hero.block {
        margin: 0;
        padding: 0;
    }
    .hero__image {
        display: flex;
        width: 75%;
    }
    .hero__btn{
        display: none;
    }
    .hero__image img{
        width: 100%;
    }
    .hero__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Icon link */

.download-link {
    display: none;
}
@media screen and (min-width: 768px) {
    .download-link {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .download-link__image img {
        width: 16rem;
        height: auto;
    }   
}

/* Needs */
.needs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-blue);
}
.needs__items{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    /* background-color: red; */
    gap: 2rem;
}
.needs__items .item {
    border: 1px solid white;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 1.7rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1;
    
}
.item img {
    width: 50%;
    margin-bottom: 1rem;
}
.item__caption .caption__text{
    display: none;
}
@media screen and (min-width:768px) {    
    .needs__items{
        grid-template-columns: repeat(2, 1fr);
    }
    .needs__items .item {
        flex-direction: row;
    }
    .item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
        align-items: center;
    }
    .item__caption {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .item__caption .caption__text{
        display: block;
    }
    .item img {
        width: 25%;
        margin-right: 2rem;
    }
}
@media screen and (min-width:1024px) {
    .needs__items {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* about-us */

.about-us__image img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
@media screen and (min-width:1024px) {
    .about-us__first-section{
        display: flex;
        align-items: center;
    }
    .about-us__image img {
        width: auto;
    }
}

/* definition */

.definition__image {
    display: flex;
    background-color: var(--color-light-blue);
    border-radius: 18px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .definition {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:1024px) {
    .definition {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Sign-up */
.sign-up {
    background-color: var(--color-light-blue);
}
.sign-up__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}
.sign-up__header .btn{
    background-color: var(--color-primary-light);
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: bold;
}
.sign-up__header p {
    font-size: 1.8rem;
}
/* -comment */
.sign-up__comment {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.comment__parent {
    background-color: var(--color-white);
    margin: 0 2rem;
    border-radius: 18px;
}

.comment__img img{
    width: 10rem;
}
.comment__img {
    display: flex;
    justify-content: center;
}