@font-face {
    font-family: 'iranYekan';
    src: url(Yekan.woff) format('woff');
    src: url(Yekan.eot) format('eot');
    src: url(Yekan.ttf) format('ttf');
}

body {
    font-family: 'iranYekan';
}